@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: grey;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
